{% extends "base.html" %}
{% load bootstrap_pagination %}
{% block title %}{{ view_title }}{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col-sm-12 bg-warning">
        <h2 class="display-4 text-center">{{ view_head }}</h2>
    </div>
</div>
<div class="row">
    {% for kniha in list_knih %}
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="card">
            {% if kniha.obal %}
            <img class="card-img-top" src="{{ kniha.obal.url }}" alt="{{ kniha.titul }}">
            {% endif %}
            <div class="card-body">
                <h4 class="card-title"><a href="{% url 'kniha_detail' kniha.pk %}">{{ kniha.title }}</a></h4>
                <p class="card-text">{% for zanr in kniha.zanry.all %}<a href="{% url 'kniha_zanr' zanr.nazev %}" class="btn btn-light">{{ zanr.nazev }}</a> {% endfor %}</p>
                <a href="{% url 'kniha_detail' kniha.pk %}" class="btn btn-primary">Podrobnosti</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% if is_paginated %}
<div class="row mt-5">
    <div class="col-12">
    {% bootstrap_paginate page_obj range=10 %}
    </div>
</div>
{% endif %}
<div class="row mt-3">
    <div class="col-sm-12">
        <h4>Celkový počet knih: {{ num_knihas }}</h4>
    </div>
</div>
{% endblock %}