{% extends "base.html" %}
{% block title %}Seznam filmů{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>Seznam filmů: {{ view.kwargs.nazev_zanru }}</h2>
    </div>
</div>
<div class="row">
    {% for kniha in kniha_zanr %}
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="card">
            {% if kniha.obal %}
            <img class="card-img-top" src="{{ kniha.obal.url }}" alt="{{ kniha.titul }}">
            {% endif %}
            <div class="card-body">
                <h4 class="card-title"><a href="{% url 'kniha_detail' film.pk %}">{{ kniha.titul }}</a></h4>
                <p class="card-text">{% for zanr in kniha.zanr.all %}<a href="{% url 'kniha_zanr' zanr.nazev %}" class="btn btn-info">{{ zanr.nazev }}</a> {% endfor %}</p>
                <a href="{% url 'kniha_detail' kniha.pk %}" class="btn btn-primary">Podrobnosti</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-sm-12">
        <strong>Celkový počet filmů:</strong> {{ num_knihas }}
    </div>
</div>
{% endblock %}