{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Driver deletion{% endblock %}
{% block content %}
<div class="row mt-4 mb-3 bg-warning text-dark p-3">
    <div class="col-sm-12">
        <h2 class="text-center">Smazání knihy</h2>
    </div>
</div>
<div class="row mt-5 pl-3 mb-3">
    <p>Jste si jist, že chcete odstranit tuto knihu <strong>{{ book }}</strong> ?</p>
    <form action="" method="post">
        {% csrf_token %}
        <button class="btn btn-primary ml-3">Ano, chci</button>
    </form>
</div>
{% endblock %}
