{% load mathfilters %}
<div>
    {% for kniha in knihas %}
    <div class="row mt-3 mb-3 pb-2">
        <div class="col-md-2">
            {% if kniha.obal %}
            <a href="{% url 'kniha_detail' kniha.id %}"><img class="img-fluid" src="{{ kniha.obal.url }}" alt="{{ kniha.titul }}"></a>
            {% endif %}
        </div>
        <div class="col-md-8">
            <h4><a href="{% url 'kniha_detail' kniha.id %}">{{ kniha.titul }}</a></h4>
            <p>{{ kniha.obsah|truncatewords:30 }}</p>
            <p class="border-top pt-2">Autor: <b>{{ kniha.autor }} </b>, datum vydání: <b>{{ kniha.vydani }}</b></p>
            <p>Žánr: {% for zanr in kniha.zanry.all %} <a href="{% url 'kniha_zanr' zanr.nazev %}" class="btn btn-light">{{ zanr.nazev }}</a> {% endfor %}</p>
        </div>
        <div class="col-md-2">
            <span class="display-4">{{ kniha.hodnoceni }}</span>
            <div class="progress">
                <div class="progress-bar bg-success" style="width:{{ kniha.hodnoceni|mul:'10'|floatformat }}%"></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
