    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand text-warning" href="#">ODK</a>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'index' %}">Úvodní stránka</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'books' %}">Knihy</a>
          </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Žánry
              </a>
              <div class="dropdown-menu">
                 {% for genre in genres %}
                    <a class="dropdown-item" href="{% url 'book-genre' genre.name %}">{{ genre.name }}</a>
                 {% endfor %}
              </div>
            </li>
         </ul>
        <ul class="navbar-nav">
           {% if user.is_authenticated %}
             <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">User: {{ user.get_username }}</a></li>
             <li class="nav-item"><a href="{% url 'logout'%}" class="nav-link">Logout</a></li>
           {% else %}
             <li class="nav-item"><a href="{% url 'login'%}?next={{request.path}}" class="nav-link">Login</a></li>
           {% endif %}
        </ul>
      </div>
    </nav>