{% load mathfilters %}
<div>
    {% for book in books %}
    <div class="row mt-3 mb-3 pb-2">
        <div class="col-md-2">
            {% if book.poster %}
            <a href="{% url 'book-detail' book.id %}"><img class="img-fluid" src="{{ book.poster.url }}" alt="{{ book.title }}"></a>
            {% endif %}
        </div>
        <div class="col-md-8">
            <h4><a href="{% url 'book-detail' book.id %}">{{ book.title }}</a></h4>
            <p>{{ book.plot|truncatewords:30 }}</p>
            <p class="border-top pt-2">Počet stran: <b>{{ book.pages }}</b>, datum uvedení: <b>{{ book.release_date }}</b></p>
            <p>Žánry: {% for genre in book.genres.all %}<a href="{% url 'book-genre' genre.name %}" class="btn btn-light">{{ genre.name }}</a> {% endfor %}</p>
        </div>
        <div class="col-md-2">
            <span class="display-4">{{ book.rate }}</span>
            <div class="progress">
                <div class="progress-bar bg-success" style="width:{{ book.rate|mul:'10'|floatformat }}%"></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
