{% extends "base.html" %}
{% block title %}Seznam knih{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>Seznam knih: {{ view.kwargs.genre_name }}</h2>
    </div>
</div>
<div class="row">
    {% for book in book_genre %}
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="card">
            {% if book.poster %}
            <img class="card-img-top" src="{{ book.poster.url }}" alt="{{ book.title }}">
            {% endif %}
            <div class="card-body">
                <h4 class="card-title"><a href="{% url 'book-detail' book.pk %}">{{ book.title }}</a></h4>
                <p class="card-text">{% for genre in book.genres.all %}<a href="{% url 'book-genre' genre.name %}" class="btn btn-info">{{ genre.name }}</a> {% endfor %}</p>
                <a href="{% url 'book-detail' book.pk %}" class="btn btn-warning">Podrobnosti</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-sm-12">
        <strong>Celkový počet knih:</strong> {{ num_books }}
    </div>
</div>
{% endblock %}