{% extends "base.html" %}

{% block content %}
<div class="row mb-3">
    <div class="col-sm-12 bg-warning">
        <h2 class="display-4 text-center">Úvodní stránka</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2 class="text-center bg-success text-light p-2">Nové knihy</h2>
        {% include "bloky/nove_knihy.html" %}
    </div>
    <div class="col-md-3">
        <h2 class="text-center bg-danger text-light p-2">Top deset knih</h2>
        {% include "bloky/top_ten.html" %}
    </div>
    <div class="col-md-3">
        <h2 class="text-center bg-info text-light p-2">Knihové žánry</h2>
        {% include "bloky/list_zanru.html" %}
    </div>
</div>
<div class="row">
</div>
{% endblock %}